@use "variables" as *;

/* Mixin: モバイル用 */
@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

/* Mixin: PC用 */
@mixin pc {
  @media (min-width: #{$pc-min}) {
    @content;
  }
}

/* Mixin: ダークモード用（prefers-color-scheme対応） */
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

/* Mixin: hover用（hover可能な環境） */
@mixin hoverActive {
  // PC環境
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  // モバイル環境(hoverがないためactiveで対応)
  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;
    &:active {
      @content;
    }
  }
}

/* Mixin: 両端揃え */
@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mixin: 横並び（基本形） */
@mixin sideBySide {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Mixin: 横並び（中央揃え） */
@mixin sideBySideCenter {
  @include sideBySide;
  align-items: center;
  text-align: center;
  @include mobile {
    text-align: left;
  }
}
