/* カラー */
$white: #ffffff;
$gray-10: #eeeeee;
$gray-25: #aaaaaa;
$gray-50: #707070;
$gray-75: #444444;
$black: #222222;
$accent: #0d87e0;

/* ブレークポイント */
$mobile-max: 767px;
$pc-min: 768px;

/* Mixin: モバイル用 */
@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

/* Mixin: PC用 */
@mixin pc {
  @media (min-width: #{$pc-min}) {
    @content;
  }
}

/* Mixin: ダークモード用（prefers-color-scheme対応） */
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

/* Mixin: hover用（hover可能な環境） */
@mixin hoverActive {
  // PC環境
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  // モバイル環境(hoverがないためactiveで対応)
  @media (hover: none) {
    -webkit-tap-highlight-color: transparent;
    &:active {
      @content;
    }
  }
}
